<div class="container col-md-4 mt-5">
    <!-- <div class="col-md-4"> -->
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title text-primary text-center">Fill Free to Contact us</h4>
            <h6 class="card-text">Email ID</h6>
            <div class="card-text offset-4">
                <p>qwerty@outlook.com</p>
                <p>qwerty@gmail.com</p>
            </div>
            <h6>Phone Numbers:</h6>
            <div class="card-text offset-4">
                    <p>+91-9875878586</p>
                    <p>+91-7654456788</p>
            </div>
        </div>
    </div>
    <!-- //</div> -->
</div>