.<div class="container mt-4">
        <div class="card-group">
                <div class="col-md-4 card card-body float-left" >
                    <img src="https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510__340.jpg" height=200px class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Marguerite Flower</h5>
                        <p class="card-text">The marguerite plant is a short-lived shrubby perennial and is grown as an annual in
                            cold climates. Yellow or white ray flowers and yellow disk flowers are borne in the compact flower
                            heads; cultivars with pink ray flowers or double blooms have also been developed. The deeply lobed
                            leaves are aromatic.</p>
                    </div>
            
                </div>
                <div class="col-md-3 card card-body float-left">
                    <img src="https://cdn.pixabay.com/photo/2018/02/08/22/27/flower-3140492__340.jpg" height=200px class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Flower Lily</h5>
                        <p class="card-text">The lily is a genus of flowering plant. There are many species of lilies, like trumpet
                            lilies and tiger lilies. They are usually quite tall, and are perennials. Most lilies grow from a bulb,
                            which in some species develops into a rhizome, which carries small bulbs.</p>
                    </div>
                </div>
                <div class="col-md-3 card card-body float-left">
                    <img src="https://cdn.pixabay.com/photo/2015/04/10/00/41/yellow-715540__340.jpg" height=200px class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Yellow Natural Flower</h5>
                        <p class="card-text">Yellow flowers burst with happiness. They symbolize the bonds of friendship, the taste
                            of success and pride. Joy is also one of the meanings of this flower, as that is one of the feelings the
                            color is said to evoke.</p>
                    </div>
                </div>
            </div>
    
</div>