<nav class="navbar navbar-expand-md mt-0 navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler d-lg" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">about</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact-us">Contact us</a>
            </li>
        </ul>
        <form class="float-right">
            <ul>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/register">Register <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
            </ul>
        </form>
    </div>
</nav>
<nav>
