<div class="col-md-6 offset-md-3 mt-5">
        <h4 class="border-bottom">Please Register!!!</h4>
    <form action="">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">First and last name</span>
            </div>
            <input type="text" name="name" id="" placeholder="Name" class="form-control">
            <input type="text" name="name" id="" placeholder="Last" class="form-control">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
            </div>
            <input type="text" name="email" id="" placeholder="Enter Email Address" class="form-control">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">DOB</span>
            </div>
            <input type="dob" name="dob" id="" placeholder="dd-mm-yyyy" class="form-control">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
            </div>
            <input type="password" name="password" id="" placeholder="Enter Password" class="form-control">
        </div>
        <div class="bth-group float-right">
            <button type="reset" class="btn btn-outline-dark">Reset</button>
            <button type="submit" class="btn btn-outline-primary">Register</button>
        </div>
    </form>
</div>