table, th, td{
    /* border: 1px solid black;
    border-collapse: collapse; */
    margin-left: 450px;
    margin-top: 200px;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    font-family: cursive;

}
table{
    width: 40%;
   
}
th{
    background-color: rgb(50, 131, 131);
}
tr:nth-child(even){
    background-color: rgb(197, 137, 137);

}
tr:nth-child(odd){
    background-color: indianred;
}
td:hover{
    background-color:rgb(180, 137, 101);
    color: white;
    cursor: pointer;

}
body{
    background-image: url("/images/abstract-1779577__340.png");
    background-size:cover;
}